			<nav id="menu">
				<ul>
      <li ><a href="{:U('index/index')}">网站首页</a></li>
      <li ><a href="{:U('Article/lists?category=39')}">关于佳鹏</a></li>
      <li ><a href="{:U('Article/lists?category=41')}">佳鹏团队</a></li>
      <li ><a href="{:U('Article/lists?category=42')}">经典案例</a></li>
      <li ><a href="{:U('Article/lists?category=43')}">佳鹏资讯</a></li>
      <li ><a href="{:U('Article/lists?category=44')}">关于联盟</a></li>
      <li ><a href="{:U('Article/lists?category=46')}">广纳贤才</a></li>
      <li ><a href="{:U('Article/lists?category=47')}">联系我们</a></li>
				</ul>
			</nav>