<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$hd['0']['value']}</title>
<meta name='keyword' content="{$hd['2']['value']}" />
<meta name='description' content="{$hd['1']['value']}" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/style.css"/>
<link rel="stylesheet" href="__PUBLIC__/Home/css/datouwang.css">
<link rel="stylesheet" type="text/css" href="http://www.hot80.com/demo/css/wxs.page.css">
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/Home/js/jquery.FainPic.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/gundongM.js"></script>