<!DOCTYPE html>
<html>

	<head>
<include file='Public/head' />
		<link rel="stylesheet" type="text/css" href="__MOBILE__/css/common.css" />
		<link type="text/css" rel="stylesheet" href="__MOBILE__/css/css99.css" />
		<link type="text/css" rel="stylesheet" href="__MOBILE__/css/css999.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE__/css/css4.css" />
		<link rel="stylesheet" type="text/css" href="http://www.hot80.com/demo/css/wxs.page.css">
		<script type="text/javascript" src="__MOBILE__/js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="__MOBILE__/js/jjs.js"></script>
		<script src="__MOBILE__/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('nav#menu').mmenu({
					extensions: ['effect-slide-menu', 'pageshadow'],
					searchfield: true,
					counters: true,
					navbar: {
						title: '团队'
					},
					navbars: [{
						position: 'top',
						content: ['searchfield']
					}, {
						position: 'top',
						content: [
							'prev',
							//							'title',
							'close'
						]
					}, {
						position: 'bottom',
						content: [
							' WordPress plugin '
						]
					}]
				});
			});
		</script>
	</head>

	<body>
		<div id="page">
			<div class="header">
				<a href="#menu"></a>
			</div>
			<div class="content">
				<div class="container">
					<div class="about_us_img3">
						<img src="__MOBILE__/img/jp_team.png" />
					</div>
					<div class="lawyer_team">
						<ul>

						<volist name='list' id='l' mod='2' >
							<eq name='mod' value='0'>
								<li>
							</eq>
							<eq name='mod' value='1'>
								<li class="lawyer_team_img_left">
							</eq>
									<a href="{:U('Article/detail?id='.$l['id'])}">
										<div class="lawyer_team_img">
											<img src="{$l['cover_id']|get_img}" />
											<div class="lawyer_team_text">
												<p>{$l['title']}</p>
											</div>
										</div>
									</a>
								</li>
						</volist>
					     <div class="pagnation" id="pagnation">
								<div class="w-page">
									{$page}
					    		</div>
						 </div>
						</ul>
					</div>
				</div>
				<footer>
		<include file='Public/footer' />
				</footer>
			</div>
	<include file='Public/right' />
		</div>
	</body>

</html>